*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

h2 {
	font-family: 'Courier New', Courier, monospace;
	color:#333030;
	font-size: xx-large;
}

p {
	font-size: large;
}

html, body{
    height: 100%;

}

body{
    font-family: sans-serif;
    background-color: #F2F2F2;
	min-height: 100%;
}

header{
    background-color: #181818; 
    color: #E7F2FC;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: center;
	font-size: 1.8rem;
}

header article{
    box-sizing: border-box;
}

header h4 i{
    margin-right: 9px;
}

main{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
    padding-top:20px;
    margin: 15px 55px;
}

.img-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
	align-content: center;
	padding: 1rem;
}

.img-header img {
    border-radius: 50rem;
    width: 160px;
    height: 160px;
}

.text-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
}

.personal-information{
	width: 16%;
    margin: 0 0px 10px;
}

.personal-information p{
    margin: 2.5px 0px;
}

.title-personal-information{
    font-weight: bold;
    color: #000000;
}

.about-me {
	width: 27%;
}

.work-experience {
	width: 29%;
}

.name-company {
	font-style: italic;
}

.education {
	width: 28%;
}

footer {
	display: flex;
	background-color: #181818;
	color: #F9F9F9;
	justify-content: center;
	align-items: center;
	height: 2rem;
	bottom: 0;
	position: absolute;
	width: 100%;
}